<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/editPro.css' %}">

</head>

<body>
    <div id="sidebar">
        <a class="sideLinks" href="/feed">Home</a>
        <a class="sideLinks" href="/profile">Profile</a>
        <a class="sideLinks" href="/events">Events</a>
        <a class="sideLinks" href="/settings">Settings</a>
        <a class="logout" href="/logout">Logout</a>
    </div>
    <div id="header">
        
        <form action="updatePro" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {{form.as_p}}
    
            <button type="submit">Upload</button>
        </form>

    </div>
</body>

</html>


<!-- <form action="updatePro" method="post">
    {% csrf_token %}
    <h2 class="headerH2">{{user.first_name}} {{user.last_name}}</h2>
    <div class="backGround"></div>
    <div class="others">
        {% if user.proImage %}
        <img class="profile" src="{{user.proImage.url}}">
        {% else %}
        <img class="profile" src="{% static 'img/cowPro.png' %}">
        {% endif %}
    </div>
    <div class="self">
        <input type="text" class="desc" name="firstName" placeholder="{{user.first_name}}">
        <input type="text" class="desc" name="lastName" placeholder="{{user.last_name}}">
        <p class="desc">@{{user.user_name}}</p>
        <input name="desc" class="descArea" placeholder="{{user.desc}}">

        <p>Friends: {{numFriends}} </p>
        <p>Joined: {{user.created_at}}</p>
    </div>
    <button type="submit">Submit Changes</button>
</form> -->