<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">

    </head>
    <body>
        <h1 id="header">Mooves</h1>
        <div id="wrapper">
            <div id="registration">
                <h1>Registar</h1>
                <form class="form1" action="registar" method="post">
                    {% csrf_token %}
                    <div class="labelWrap">
                        <label for="first_name">First Name: </label>
                        <input name="first_name" type="text">
                    </div>
                    <div class="labelWrap">
                        <label for="last_name">Last Name: </label>
                        <input name="last_name" type="text">
                    </div>
                    <div class="labelWrap">
                        <label for="user_name">User Name: </label>
                        <input name="user_name" type="text">
                    </div>
                    <div class="labelWrap">
                        <label for="email">Email: </label>
                        <input name="email" type="text">
                    </div>
                    <div class="labelWrap">
                        <label for="password">Password: </label>
                        <input name="password" type="password">
                    </div>
                    <div class="labelWrap">
                        <label for="confirm">Confirm Password: </label>
                        <input name="confirm" type="password">
                    </div>
                    <button type="submit">Registar!</button>
                </form>
            </div>
            <div id="errors">
                {% if messages %}
                <ul class="errorsList">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div id="login">
                <h1>Login</h1>
                <form class="form2" action="login" method="post">
                    {% csrf_token %}
                    <div class="labelWrap">
                        <label for="user_name">User Name: </label>
                        <input name="user_name" type="text">
                    </div>
                    <div class="labelWrap">
                        <label for="password">Password: </label>
                        <input name="password" type="text">
                    </div>
                    <button type="submit">Login!</button>

                </form>
            </div>

        </div>
        <div id="desc">
            <div class="top">
                <div class="left">
                    <h3>Currently in production: </h3>
                    <ul>
                        <li>Show more tab</li>
                        <li>Messages</li>
                        <li>Friends List</li>
                        <li>Endless reply threads</li>
                    </ul>
                </div>
                <div class="right">
                    <h3>On the way</h3>
                    <ul>
                        <li>Search Bar</li>
                        <li>GIFs</li>
                        <li>Private accounts</li>
                    </ul>
                </div>
            </div>
            <h5>However the site is still useable and all aspects that are currently in production will be added!</h5>
        </div>
    </body>
</html>