<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'JavaScript/profile.js' %}"></script>

</head>

<body id="body">
    <div class="hiddenJs">
        {% if fontType == 1 %}
        <div class="hideFontTypeHere">1</div>
        {% elif fontType == 2 %}
        <div class="hideFontTypeHere">2</div>
        {% elif fontType == 3 %}
        <div class="hideFontTypeHere">3</div>
        {% elif fontType == 4 %}
        <div class="hideFontTypeHere">4</div>
        {% elif fontType == 5 %}
        <div class="hideFontTypeHere">5</div>
        {% elif fontType == 6 %}
        <div class="hideFontTypeHere">6</div>
        {% endif %}

        {% if fontSize == 1 %}
        <div class="fontSizeHere">1</div>
        {% elif fontSize == 2 %}
        <div class="fontSizeHere">2</div>
        {% elif fontSize == 3 %}
        <div class="fontSizeHere">3</div>
        {% endif %}

        {% if fontColor == 1 %}
        <div class="FontColorHere">1</div>
        {% elif fontColor == 2 %}
        <div class="FontColorHere">2</div>
        {% elif fontColor == 3 %}
        <div class="FontColorHere">3</div>
        {% elif fontColor == 4 %}
        <div class="FontColorHere">4</div>
        {% elif fontColor == 5 %}
        <div class="FontColorHere">5</div>
        {% elif fontColor == 6 %}
        <div class="FontColorHere">6</div>
        {% elif fontColor == 7 %}
        <div class="FontColorHere">7</div>
        {% endif %}

        {% if background == 1 %}
        <div class="backgroundColor">1</div>
        {% else %}
        <div class="backgroundColor">2</div>
        {% endif %}

    </div>
    <div id="sidebar">
        <a class="sideLinks" href="/feed">
            {% if background == 1%}
            <img class="homeIcon" src="{% static 'img/barnIconBlack.png' %}" alt="barnIcon"></a>
        {% else %}
        <img class="homeIcon" src="{% static 'img/barnIconWhite.png' %}" alt="barnIcon"></a>
        {% endif %}
        </a>
        <a class="sideLinks" href="/profile">
            {% if obj %}
            <img class="sideProfile" src="{{ obj.image.url}}" alt="image">
            {% elif CUproPic == 3 %}
            {% if 5 > cUser.user_name|length %}
            <img class="smallPro1side" src="{% static 'img/cowPro.png' %}">
            {% elif 10 > cUser.user_name|length %}
            <img class="smallPro2side" src="{% static 'img/cowPro.png' %}">
            {% elif 15 > cUser.user_name|length %}
            <img class="smallPro3side" src="{% static 'img/cowPro.png' %}">
            {% elif cUser.user_name|length > 20 %}
            <img class="smallPro4side" src="{% static 'img/cowPro.png' %}">
            {% endif %}
            {% else %}
            {% if CUproPic.image %}
            <img class="sideProfile" src="{{ CUproPic.image.url }}" alt="image">
            {% else %}
            {% if 5 > cUser.user_name|length %}
            <img class="smallPro1side" src="{% static 'img/cowPro.png' %}">
            {% elif 10 > cUser.user_name|length %}
            <img class="smallPro2side" src="{% static 'img/cowPro.png' %}">
            {% elif 15 > cUser.user_name|length %}
            <img class="smallPro3side" src="{% static 'img/cowPro.png' %}">
            {% elif cUser.user_name|length > 20 %}
            <img class="smallPro4side" src="{% static 'img/cowPro.png' %}">
            {% endif %}
            {% endif %}
            {% endif %}
        </a>
        <a class="sideLinks" href="/messages">Messages</a>
        <a class="sideLinks" href="/settings">
            {% if background == 1 %}
            <img class="homeIcon" src="{% static 'img/settingsIconBlack.png'%}" alt="settingsIcon"></a>
            {% else %}
            <img class="homeIcon" src="{% static 'img/settingsIconWhite.png'%}" alt="settingsIcon"></a>
            {% endif %}
        </a>
        <a class="logout" href="/logout">Logout</a>
    </div>
    <div id="proMain">
        <div id="header">
            <h2 class="headerH2">{{user.first_name}} {{user.last_name}}</h2>
            {% if obj1 %}
            <img class="background" src="{{ obj1.image.url }}" alt="image">
            {% elif UbackPic == 3%}
            <div class="backGround"></div>
            {% elif UbackPic.image %}
            <img class="background" src="{{ UbackPic.image.url }}">
            {% elif CUbackPic == 3 %}
            <div class="backGround"></div>
            {% else %}
            {% if CUbackPic.image %}
            <img class="background" src="{{ CUbackPic.image.url }}">
            {% else %}
            <div class="backGround"></div>
            {% endif %}
            {% endif %}
            <div class="others">
                {% if obj %}
                <img class="profile" src="{{ obj.image.url}}" alt="image">
                {% elif UproPic == 3 %}
                {% if 5 > user.user_name|length %}
                <img class="smallPro1pro" src="{% static 'img/cowPro.png' %}">
                {% elif 10 > user.user_name|length %}
                <img class="smallPro2pro" src="{% static 'img/cowPro.png' %}">
                {% elif 15 > user.user_name|length %}
                <img class="smallPro3pro" src="{% static 'img/cowPro.png' %}">
                {% elif user.user_name|length > 20 %}
                <img class="smallPro4pro" src="{% static 'img/cowPro.png' %}">
                {% endif %}
                {% elif UproPic.image %}
                <img class="profile" src="{{ UproPic.image.url }}" alt="image">
                {% elif CUproPic == 3 %}
                {% if 5 > cUser.user_name|length %}
                <img class="smallPro1pro" src="{% static 'img/cowPro.png' %}">
                {% elif 10 > cUser.user_name|length %}
                <img class="smallPro2pro" src="{% static 'img/cowPro.png' %}">
                {% elif 15 > cUser.user_name|length %}
                <img class="smallPro3pro" src="{% static 'img/cowPro.png' %}">
                {% elif cUser.user_name|length > 20 %}
                <img class="smallPro4pro" src="{% static 'img/cowPro.png' %}">
                {% endif %}
                {% else %}
                {% if CUproPic.image %}
                <img class="profile" src="{{ CUproPic.image.url }}" alt="image">
                {% else %}
                {% if 5 > cUser.user_name|length %}
                <img class="smallPro1" src="{% static 'img/cowPro.png' %}">
                {% elif 10 > cUser.user_name|length %}
                <img class="smallPro2" src="{% static 'img/cowPro.png' %}">
                {% elif 15 > cUser.user_name|length %}
                <img class="smallPro3" src="{% static 'img/cowPro.png' %}">
                {% elif cUser.user_name|length > 20 %}
                <img class="smallPro4" src="{% static 'img/cowPro.png' %}">
                {% endif %}
                {% endif %}
                {% endif %}
                {% if cUser.id == user.id%}
                <a class="updateProfileLink" href="/updatePro">Update Profile</a>
                {% endif %}

                {% if cUser.id != user.id %}
                {% if user not in friends %}
                <div class="space">
                    <form action="/follow/{{cUser.id}}/{{user.id}}" method="post">
                        {% csrf_token %}
                        <button class="follow" type="submit">Follow</button>
                    </form>
                </div>
                {% endif %}
                {% if user in friends %}
                <div class="space2">
                    <h3 class="following">Following</h3>
                    <form class="unform" action="/unfollow/{{cUser.id}}/{{user.id}}" method="post">
                        {% csrf_token %}
                        <button class="unfollow" type="submit">Unfollow</button>
                    </form>
                </div>
                {% endif %}
                {% endif %}
            </div>
            <div class="self">
                <p class="desc">{{user.first_name}} {{user.last_name}}</p>
                <p class="desc">@{{user.user_name}}</p>
                <p class="desc">{{user.desc}}</p>
                <p class="otherDesc">Friends: {{numFriends}} </p>
                <p class="otherDesc">Joined: {{user.created_at}}</p>
            </div>

        </div>
        <div id="feed">
            <div class="headFeed">
                Your Status Feed
            </div>
            {% for post in posts %}
            <div class="postData">
                <div class="user">
                    {% if obj %}
                    <img class="smallPro" src="{{ obj.image.url}}" alt="image">
                    {% elif UproPic == 3 %}
                    <img class="smallPro" src="{% static 'img/cowPro.png' %}">
                    {% elif UproPic.image %}
                    <img class="smallPro" src="{{ UproPic.image.url }}" alt="image">
                    {% elif CUproPic == 3 %}
                    <img class="smallPro" src="{% static 'img/cowPro.png' %}">
                    {% else %}
                    {% if CUproPic.image %}
                    <img class="smallPro" src="{{ CUproPic.image.url }}" alt="image">
                    {% else %}
                    {% if 5 > cUser.user_name|length %}
                    <img class="smallPro1" src="{% static 'img/cowPro.png' %}">
                    {% elif 10 > cUser.user_name|length %}
                    <img class="smallPro2" src="{% static 'img/cowPro.png' %}">
                    {% elif 15 > cUser.user_name|length %}
                    <img class="smallPro3" src="{% static 'img/cowPro.png' %}">
                    {% elif cUser.user_name|length > 20 %}
                    <img class="smallPro4" src="{% static 'img/cowPro.png' %}">
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    <a class="link" href="/profile/{{user.id}}">@{{user.user_name}}</a>
                </div>
                <div class="hiddenStuff"><input type="hidden" name="postId" value="{{post.id}}"></div>
                <div class="feedInfo">
                    <div class="posts">
                        <p>{{ post.info }}</p>
                    </div>
                    {% if post.imageId %}
                    {% if post.imageId == 3 %}
                    <p></p>
                    {% else %}
                    {% for pic in postPics %}
                    {% if pic.id == post.imageId %}
                    <img class="postImage" src="{{pic.image.url}}">
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
                <div class="ReplyStream">
                    {% for reply in post.replies.all %}
                    <div class="reply">
                        <div class="User">
                            {% if reply.poster.proPicId %}
                            {% for pic in proImages %}
                            {% if reply.poster.proPicId == pic.id %}
                            {% if pic.image %}
                            <img class="smallPro" src="{{ pic.image.url }}">
                            {% else %}
                            {% if 5 > reply.poster.user_name|length %}
                            <img class="smallPro1" src="{% static 'img/cowPro.png' %}">
                            {% elif 10 > reply.poster.user_name|length %}
                            <img class="smallPro2" src="{% static 'img/cowPro.png' %}">
                            {% elif 15 > reply.poster.user_name|length %}
                            <img class="smallPro3" src="{% static 'img/cowPro.png' %}">
                            {% elif reply.poster.user_name|length > 20 %}
                            <img class="smallPro4" src="{% static 'img/cowPro.png' %}">
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% else %}
                            {% if 5 > reply.poster.user_name|length %}
                            <img class="smallPro1" src="{% static 'img/cowPro.png' %}">
                            {% elif 10 > reply.poster.user_name|length %}
                            <img class="smallPro2" src="{% static 'img/cowPro.png' %}">
                            {% elif 15 > reply.poster.user_name|length %}
                            <img class="smallPro3" src="{% static 'img/cowPro.png' %}">
                            {% elif reply.poster.user_name|length > 20 %}
                            <img class="smallPro4" src="{% static 'img/cowPro.png' %}">
                            {% endif %}
                            {% endif %}
                            <div class="user">
                                <a class="link" href="/profile/{{reply.poster.id}}">@{{reply.poster.user_name}}</a>
                            </div>
                        </div>
                        <div class="posts">
                            <p>{{reply.info}}</p>
                        </div>
                        {% if reply.imageId %}
                        {% if reply.imageId == 3 %}
                        <p></p>
                        {% else %}
                        {% for pic in postPics %}
                        {% if pic.id == reply.imageId %}
                        <img class="postImage" src="{{pic.image.url}}">
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="extra"></div>
        </div>
        <div id="main2">
            <div class="threadTop">
                <h1 class="thread">Thread</h1>
                <h2 class="exit">X</h2>
            </div>
            <div class="User">
                <!-- <img class="smallPro" src="{% static 'img/cowPro.png' %}"> -->
                <div class="userRe">
                </div>
            </div>
            <div class="postsRe">
            </div>
            <div class="replySec">
                <form class="smallMoo" action="reply" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="rmTop">
                        <textarea name="text" class="text" placeholder="Moo Back"></textarea>
                        <button class="mooBack" type="submit">MooBack</button>
                        <div class="hidehere"></div>
                    </div>
                    <img class="imageIcon2" src="{% static 'img/imageIcon.png' %}">
                    <div class="imageUpload2">
                        {{ form.as_p }}
                    </div>
                </form>
                <div class="replyFeedStream">

                </div>

            </div>

        </div>
    </div>
    <div id="rightSideBar">
        {% if cUser.id == user.id %}
        <div class="newFriends">
            <h1 class="newFrTitle">You may also Like</h1>
            {% for user in someUsers %}
            <div class="notFriend">
                <div class="nFleft">
                    <img class="smallPro" src="{% static 'img/cowPro.png' %}">
                    <div class="nFNames">
                        <h4 class="nFinfo">{{ user.firstName }} {{ user.lastName }}</h5>
                            <h5 class="nFinfo"><a class="link" href="/profile/{{user.id}}">@{{ user.userName }}</a></h5>
                        </h4>
                    </div>
                </div>
                <form class="nFright" action="/follow/{{cUser.id}}/{{user.id}}" method="post">
                    {% csrf_token %}
                    <button class="follow" type="submit">Follow</button>
                </form>
            </div>
            {% endfor %}
            <h1 class="showMore">Show more!</h1>
        </div>
        {% endif %}
        <div class="events">
            <h1 class="whatHappen">What's Happening</h1>
            {% for post in somePosts %}
            <div class="eventPosts">
                <div class="evTop">
                    <img class="smallPro" src="{% static 'img/cowPro.png' %}">
                    <div class="evNames">
                        <h4 class="nFinfo">{{ post.poster.first_name }} {{ post.poster.last_name }}</h4>
                        <h5 class="nFinfo"><a class="link" href="/profile/{{post.poster.id}}">@{{ post.poster.user_name }}</a></h5>
                    </div>
                </div>
                <div class="eventInfo">
                    <!-- <div class="eventPosts"> -->
                    {{ post.info }}
                    <!-- </div> -->
                    {% if post.imageId %}
                    {% if post.imageId == 3 %}
                    <p></p>
                    {% else %}
                    {% for pic in postPics %}
                    {% if pic.id == post.imageId %}
                    <img class="postImage" src="{{pic.image.url}}">
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <h1 class="showMore">Show more!</h1>
        </div>
    </div>
</body>

</html>
<!-- 
{% if cUser.id == user.id %}
        <button class="write" type="button">Moo</button>
        <div class="add">
            <h2>Send A Moo</h2>
            <form class="smallMoo" action="add" method="post">
                {% csrf_token %}
                <textarea name="text" class="text"></textarea>
                <button class="moo" type="submit">Moo</button>
            </form>
        </div>
        {% endif %} -->


<!-- <img class="profile" src="{{user.proImage.url}}" alt="ProImageHere"> -->